{% load static %}

<div class="owl-carousel owl-loaded owl-drag">


    <div class="owl-stage-outer">
        <div class="owl-stage" style="transform: translate3d(-2355px, 0px, 0px); transition: 0.25s; width: 4710px;">
            <div class="owl-item cloned" style="width: 391px; margin-right: 80px;">
                <div class="owl-carousel_block owl-carousel_block-bg">
                    <div class="owl-carousel_block-content">
                        <img src="{% static 'images/slider_braceletes.png' %}" alt="">
                    </div>
                    <a href="javascript:void(0);" class="owl-carousel_block-hover">
                        <p class="owl-carousel_block-desc">Браслеты</p>
                    </a>
                </div>
            </div>
            <div class="owl-item cloned" style="width: 391px; margin-right: 80px;">
                <div class="owl-carousel_block owl-carousel_block-bg">
                    <div class="owl-carousel_block-content">
                        <img src="{% static 'images/slider_chain.png' %}" alt="">
                    </div>
                    <a href="javascript:void(0);" class="owl-carousel_block-hover">
                        <p class="owl-carousel_block-desc">Цепочки</p>
                    </a>
                </div>
            </div>
            <div class="owl-item cloned" style="width: 391px; margin-right: 80px;">
                <div class="owl-carousel_block owl-carousel_block-bg">
                    <div class="owl-carousel_block-content">
                        <img src="{% static 'images/slider_rings.png' %}" alt="">
                    </div>
                    <a href="javascript:void(0);" class="owl-carousel_block-hover">
                        <p class="owl-carousel_block-desc">Кольца</p>
                    </a>
                </div>
            </div>
            <div class="owl-item" style="width: 391px; margin-right: 80px;">
                <div class="owl-carousel_block">
                    <h3 class="owl-carousel_block-title">You may also like</h3>
                </div>
            </div>
            <div class="owl-item" style="width: 391px; margin-right: 80px;">
                <div class="owl-carousel_block owl-carousel_block-bg">
                    <div class="owl-carousel_block-content">
                        <img src="{% static 'images/slider_braceletes.png' %}" alt="">
                    </div>
                    <a href="javascript:void(0);" class="owl-carousel_block-hover">
                        <p class="owl-carousel_block-desc">Браслеты</p>
                    </a>
                </div>
            </div>
            <div class="owl-item active" style="width: 391px; margin-right: 80px;">
                <div class="owl-carousel_block owl-carousel_block-bg">
                    <div class="owl-carousel_block-content">
                        <img src="{% static 'images/slider_chain.png' %}" alt="">
                    </div>
                    <a href="javascript:void(0);" class="owl-carousel_block-hover">
                        <p class="owl-carousel_block-desc">Цепочки</p>
                    </a>
                </div>
            </div>
            <div class="owl-item active" style="width: 391px; margin-right: 80px;">
                <div class="owl-carousel_block owl-carousel_block-bg">
                    <div class="owl-carousel_block-content">
                        <img src="{% static 'images/slider_rings.png' %}" alt="">
                    </div>
                    <a href="javascript:void(0);" class="owl-carousel_block-hover">
                        <p class="owl-carousel_block-desc">Кольца</p>
                    </a>
                </div>
            </div>
            <div class="owl-item cloned active" style="width: 391px; margin-right: 80px;">
                <div class="owl-carousel_block">
                    <h3 class="owl-carousel_block-title">Вам так же может понравиться</h3>
                </div>
            </div>
            <div class="owl-item cloned" style="width: 391px; margin-right: 80px;">
                <div class="owl-carousel_block owl-carousel_block-bg">
                    <div class="owl-carousel_block-content">
                        <img src="{% static 'images/slider_braceletes.png' %}" alt="">
                    </div>
                    <a href="javascript:void(0);" class="owl-carousel_block-hover">
                        <p class="owl-carousel_block-desc">Браслеты</p>
                    </a>
                </div>
            </div>
            <div class="owl-item cloned" style="width: 391px; margin-right: 80px;">
                <div class="owl-carousel_block owl-carousel_block-bg">
                    <div class="owl-carousel_block-content">
                        <img src="{% static 'images/slider_chain.png' %}" alt="">
                    </div>
                    <a href="javascript:void(0);" class="owl-carousel_block-hover">
                        <p class="owl-carousel_block-desc">Цепочки</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="owl-nav">
        <button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button>
        <button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button>
    </div>
    <div class="owl-dots">
        <button role="button" class="owl-dot active"><span></span></button>
        <button role="button" class="owl-dot"><span></span></button>
    </div>
</div>











