{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load i18n %}

{% block section %}
<section class="category_products">
    <div class="container">
        <h2 class="main_title text-center mt-4 mb-4">{% trans "Результаты поиска" %}</h2>

        <div class="row">
            {% for product in products %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="product_card text-center">
                        <div class="product_card-basket">
                            <a href="javascript:void(0);"
                               class="product_card_basket-link basket_icon js-favorite-toggle {% if product.id in favorites %}is-favorite{% endif %}"
                               data-add-url="{% url 'favorite_add' product.id %}"
                               data-remove-url="{% url 'favorite_remove' product.id %}"
                               data-favorited="{% if product.id in favorites %}true{% else %}false{% endif %}">
                                <svg width="28" height="24" viewBox="0 0 28 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.375 1C4.57813 1 1.5 4.07813 1.5 7.875C1.5 14.75 9.625 21 14 22.4538C18.375 21 26.5 14.75 26.5 7.875C26.5 4.07813 23.4219 1 19.625 1C17.3 1 15.2438 2.15438 14 3.92125C13.3661 3.01825 12.5239 2.28131 11.5447 1.77281C10.5656 1.2643 9.47831 0.999222 8.375 1Z"
                                          stroke="#0F2859" stroke-width="2" stroke-linecap="round"
                                          stroke-linejoin="round"/>
                                </svg>
                            </a>
                        </div>
                        <a href="{{ product.get_absolute_url }}" class="product_card-detail">
                            <div class="w-100">
                                {% if product.first_photo %}
                                    <img class="product_card-img img-fluid"
                                         src="{{ product.first_photo }}"
                                         alt="{{ product.title }}">
                                {% elif product.images.first %}
                                    <img class="product_card-img img-fluid"
                                         src="{{ product.images.first.image.url }}"
                                         alt="{{ product.title }}">
                                {% endif %}
                            </div>
                            <div class="product_card-description">
                                <p class="product_card-name">{{ product.title }}</p>
                                <p class="product_card-desc">{{ product.category.title }}</p>
                                <p class="product_card-price">{{ product.price|intcomma }} UZS</p>
                            </div>
                        </a>
                        <a href="javascript:void(0);" data-url="{% url 'cart_add' product.id %}" class="product_card-btn js-add-to-cart">{% trans "В корзину" %}</a>
                    </div>
                </div>
            {% empty %}
                {% if query %}
                    <p class="mt-4 text-center">{% blocktrans with q=query %}По запросу «{{ q }}» ничего не найдено.{% endblocktrans %}</p>
                {% else %}
                    <p class="mt-4 text-center">{% trans "Введите запрос для поиска товаров." %}</p>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock section %}

